.unnamed1 {
	font-family: "新細明體";
	font-size: 10pt;
	font-style: normal;
	line-height: 25px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-align: justify;
	vertical-align: middle;
	word-spacing: normal;
	white-space: pre;


}
.underline {
	font-family: "新細明體";
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	text-decoration: underline;
	color: #0000FF;

}
.program {
	font-family: "新細明體";
	font-size: 12pt;
	font-style: normal;
	line-height: 25px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;

}
.unnamed2 {
	font-family: "新細明體";
	font-size: 14px;
	font-style: normal;
	line-height: 30px;
}
.unnamed3 {
	font-family: "新細明體";
	font-size: 10px;
	line-height: 45px;
}
